<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tawooly's Online Shopping Mall</title>
    <link rel="stylesheet" href="~/Content/CSS/Layout.css">

    <script src="~/Content/JavaScript/LayoutScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="title_bar">
        <div>
            <label class="home_font">
                @Html.ActionLink("Tawooly's Online Shopping Mall", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </label>
        </div>
        <div>
            <ul class="layout_ul">
                <li class="layout_li">@Html.ActionLink("ログイン", "Index", "Login")</li>
                <li class="layout_li">@Html.ActionLink("納品", "Index", "Goods")</li>
                <li class="cart_font">@Html.ActionLink("🛒", "Cart", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Tawooly's Online Shopping Mall</p>
            <h3>@Session["Message"]</h3>
            <hr />
        </footer>
    </div>
</body>
</html>
