<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/CSS/Style.css">
    <script src="~/Content/JavaScript/CartJavaScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
    <form method="post" action="@Url.Action("AllDelete", "Home")" enctype="multipart/form-data">
        <table id="tableBody" class="cart_table">
            <thead>
                <tr class="cart_table">
                    <th><input id="allchecked" type="button" onclick="toggleCheckboxes()" value="全て選択"></th>
                    <th>商品名</th>
                    <th>数量</th>
                    <th>金額</th>
                    <th>消費税</th>
                    <th>合計</th>
                    <th><button type="submit">選択削除</button></th>
                </tr>
            </thead>
            @foreach (var item in Model.Rows)
            {
                <tbody onload="TaxRate(@item["TaxRate"], @item["Id"])">
                    <tr>
                        <td><input id="checkbox_@item["Id"]" type="checkbox" onclick="updateCheckedCount()"></td>
                        <td>@item["Name"]</td>
                        <td>
                            <select id="select_@item["Id"]" onchange="countUpdateAndgetItemId(this, @item["Price"], 'total_@item["Id"]')"></select>
                        </td>
                        <td>@item["Price"] <label>円</label></td>
                        <td><label id="stock">@item["TaxRate"]</label> <label>％</label></td>
                        <td><label id="total_@item["Id"]">@item["Price"]</label><label>円</label> </td>
                        <td>
                            <label id="delete">@item["Id"]</label>
                            <input id="delete_@item["Id"]" type="text" name="deleteButton" value="@item["Id"]">
                            <button type="button" onclick="deleteItem('@item["Id"]')">X</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </form>

        <div class="total_amount">
            <label>小計（</label>
            <label id="checkedCount"></label>
            <label> / @Model.Rows.Count )</label>
            <label>個の商品）（税込み）：</label>
            <label id="total">0</label>
            <label>円</label>
        </div>
</body>
</html>