<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/CSS/Display.css">
    <link rel="stylesheet" href="~/Content/CSS/Style.css">
</head>
<body>
    <div>
        <div>
            <label>カテゴリーメニュー</label>
            <ul>
                <li>服</li>
                <li>アウター</li>
                <li>ズボン</li>
                <li>靴</li>
            </ul>
        </div>
        <form method="post" action="@Url.Action("FindedPassword", "Login")" enctype="multipart/form-data">
            <div class="aligned_center">
                <input type="text" placeholder="検索" />
                <button type="submit">🔍</button>
            </div>
        </form>
    </div>
    <div class="aligned_left_bottom">
        <button id="back-to-top-btn">↑Top</button>
    </div>

    <form method="post" action="@Url.Action("DetailGoodsInfo", "Home")" enctype="multipart/form-data">
        <table style="margin: 50px auto;">
            <tbody id="tableBody">

                <tr>

                    @foreach (var item in Model.Rows)
                    {
                        <th style="padding: 20px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            <input type="text" name="goodsId" value="@item["Id"]" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            이미지
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <button type="submit">@item["Name"]</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            @item["Price"]
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    }
                </tr>
            </tbody>
        </table>
    </form>


    <div class="aligned_center_bottom">
        <button onclick="window.location.href='https://localhost:44376/Home/Index'">１</button>
        <button onclick="window.location.href='https://localhost:44376/Home/Index'">２</button>
        <button onclick="window.location.href='https://localhost:44376/Home/Index'">３</button>
    </div>

</body>
</html >
